{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Shuai's main page code -->

        <!--
        Home Slider
        ==================================== -->

		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center" style="margin: auto; width:65%">
</br>
</br>
						<h3>Trip report for the "Lorentz Workshop 'The Road to FAIR and Equitable Science'"</h3>

						<h4 style="margin: auto; width:65%">By Shuai Wang</h4>
						<br>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<div class="sec-sub-title text-center" style="margin: auto; width:50%" >




						<!-- <div class="entry-content" style="margin:auto; text-align:left"> -->

							<div class="contact-address" style="margin:auto; text-align:left">


						<h3>Links</h3>


						<p1> <a href="https://www.lorentzcenter.nl/the-road-to-fair-and-equitable-science.html" style="color:black">The <u>workshop page</u> on the Lorentz Center.</a> </p1>
</br>
						<a href="https://www.lorentzcenter.nl/site/index.php?pntType=ConPagina&id=2002&conPaginaProgrammaDagId=495&pntHandler=DownloadAction" style="color:black"><u>Link to the program</u></a>

</br>
</br>
						<h3>Trip report</h3>


					</br>
							<p1>Two members of the FAIR Expertise Hub attended the workshop: Tobias and Shuai. The workshop in Leiden ten years ago resulted in the famous 2016 FAIR paper. This invitation-only workshop includes a look back to the past decade of implementation of FAIR as well as discussions on the landscape of FAIR-related research and applications in the next decade.
</p1>

</br>
</br>


<p1>The three main topics are: beyond machine actionability, Equitability, and A.I. (data and services that are fully A.I. ready). Machine actionability was the topic of day 2. Many have proposed insights beyond machine actionability. Semantic web and linked data lie at the center of this work. Taxonomies and ontologies are required but not as widely used as they should be in data management and publishing. </p1>
</br>
</br>
<div class="wp-block-image">
<figure class="alignright is-resized"><img decoding="async" loading="lazy" src="{% static 'img/works/leiden.jpeg' %}" alt="" width="550"><figcaption class="wp-element-caption">The group photo by Gitanjali Yadav.</figcaption></figure></div>
</br>
</br>
<!-- <h3>Conclusion</h3> -->
<p1>
The second topic is the main focus of this workshop: equity (day 3). How can the success of FAIR implementation be scaled to other countries, especially the global south, domains that are less data-intense, companies that have concerns, and countries without skilled data stewards?
</p1>

<p1> Discussion on the third topic (on day 4) focuses on what can FAIR data do for A.I., and in turn, how can people use A.I. in their implementation of FAIR. The use of A.I. for data and metadata recommendation was hot in discussions and presentations. Taking advantage of large language models for data processing and improving the interaction with data management platforms. </p1>
</br>
</br>
<div class="wp-block-image">
<figure class="alignright is-resized"><img decoding="async" loading="lazy" src="{% static 'img/works/leiden2.jpg' %}" alt="" width="550"><figcaption class="wp-element-caption">A photo of the panel by Shuai Wang.</figcaption></figure></div>
</br>

<p1>Attendees of the workshop have been working on a white paper that covers various aspects of FAIR implementation over the past decade. </p1>

<p1>This workshop will return next year in a similar format. Many who attended this workshop indicated that they will also be attending the FDO conference in Berlin this year.</p1>



						<hr class="wp-block-separator has-css-opacity">



						<!-- <p1>Featured image by <a style="color:DodgerBlue;" href="https://unsplash.com/@jontyson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" onclick="javascript:window.open('https://unsplash.com/@jontyson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText', '_blank', 'noopener'); return false;">Jon Tyson</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"  style="color:DodgerBlue;" onclick="javascript:window.open('https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText', '_blank', 'noopener'); return false;">Unsplash</a></p1> -->
									</div>



					</div>



				</br>
</br>

{% endblock %}
