{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Shuai's main page code -->

        <!--
        Home Slider
        ==================================== -->

		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center" style="margin: auto; width:65%">
</br>
</br>
						<h3>A Project by the FAIR Expertise Hub won the Open Science Community Amsterdam (OSCA) Awards</h3>
</br>
						<h4 style="margin: auto; width:65%">Posted by Shuai Wang</h4>
						<br>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<div class="sec-sub-title text-center" style="margin: auto; width:50%" >




						<!-- <div class="entry-content" style="margin:auto; text-align:left"> -->

							<div class="contact-address" style="margin:auto; text-align:left">


						<h3>Links</h3>


						<p1> <a href="https://osc-international.com/osc-amsterdam/call-for-oscawards-2024/" style="color:black"><u>The official webpage of OSCA</u>.</a> </p1>
</br>
						<a href="https://vu.nl/en/news/2024/open-science-community-amsterdam-award-osca" style="color:black"><u>Link to the department webpage</u></a>

</br>
</br>
						<h3>News Details</h3>


					</br>
							<p1>The Open Science Community Amsterdam (OSCA) is part of OSC-NL a network of coordinators of Dutch open science communities, aiming to promote collaborations between communities and open science principles and methodologies.		</br>
</br>
Through the OSCAWARDS, open science in Amsterdam is highlighted. All groups and projects with open science related aspects or challenges can be nominated for the awards. The Open Science Community Amsterdam (OSCA) receives financial support from VU Amsterdam, HvA and UvA.		</br>
</br>
A project by Shuai Wang, his student Navroop K Singh, Ronald Siebes, Jacco van Ossenbruggen, Angelica Maineri, Tobias Kuhn, and colleagues from the Open Science team in the library won the Open Science Community Amsterdam Awards (OSCA). Read more on their website. Their paper is currently under submission at the eScience'24 conference.		</br>
</p1>

</br>
</br>

<img src="{% static 'img/photos/OSCA.jpg' %}"  width="500"  alt="">

						<hr class="wp-block-separator has-css-opacity">



						<!-- <p1>Featured image by <a style="color:DodgerBlue;" href="https://unsplash.com/@jontyson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText" onclick="javascript:window.open('https://unsplash.com/@jontyson?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText', '_blank', 'noopener'); return false;">Jon Tyson</a> on <a href="https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText"  style="color:DodgerBlue;" onclick="javascript:window.open('https://unsplash.com/?utm_source=unsplash&amp;utm_medium=referral&amp;utm_content=creditCopyText', '_blank', 'noopener'); return false;">Unsplash</a></p1> -->
									</div>



					</div>



				</br>
</br>
</div>
</div>
{% endblock %}
