{% extends "base.html" %}
{% load static %}
{% block content %}
<!-- Shuai's main page code -->

        <!--
        Home Slider
        ==================================== -->

		<section id="slider">
			<div id="carousel-example-generic" class="carousel slide" data-ride="carousel">

				<!-- Indicators bullet -->
				<ol class="carousel-indicators">
					<!-- <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li> -->
					<!-- <li data-target="#carousel-example-generic" data-slide-to="1"></li> -->
				</ol>
				<!-- End Indicators bullet -->

				<!-- Wrapper for slides -->
				<div class="carousel-inner" role="listbox">

					<!-- single slide -->
          <!-- <div class="item active" style="background-image: url(img/banner.jpg);"> -->
					<div class="item active" style="background-image: url({% static 'img/banner.jpg' %});">
						<div class="carousel-caption">
							<h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated">Welcome to the </h2>
                <h2 data-wow-duration="700ms" data-wow-delay="500ms" class="wow bounceInDown animated"><span>FAIR Expertise Hub</span>!</h2>
							<h3 data-wow-duration="1000ms" class="wow slideInLeft animated"><span class="color"></span> Promoting FAIR implementation in social science communities</h3>
              <p data-wow-duration="1000ms" class="wow slideInRight animated">A project funded by PDI-SSH</p>
							<p data-wow-duration="1000ms" class="wow slideInLeft animated">with strong links to ODISSEI, DANS, and Clariah</p>

							<ul class="social-links text-center">
								<li><a href="https://twitter.com/FAIRexperthub"><i class="fa fa-twitter fa-lg"></i></a></li>
								<!-- <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li> -->
								<!-- <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li> -->
							</ul>
						</div>
					</div>
					<!-- end single slide -->

					<!-- single slide -->
					<!-- <div class="item" style="background-image: url({% static 'img/banner.jpg' %});">
						<div class="carousel-caption">
							<h2 data-wow-duration="500ms" data-wow-delay="500ms" class="wow bounceInDown animated">Meet<span> Team</span>!</h2>
							<h3 data-wow-duration="500ms" class="wow slideInLeft animated"><span class="color">/creative</span> one page template.</h3>
							<p data-wow-duration="500ms" class="wow slideInRight animated">We are a team of professionals</p>

							<ul class="social-links text-center">
								<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								<li><a href=""><i class="fa fa-dribbble fa-lg"></i></a></li>
							</ul>
						</div>
					</div> -->
					<!-- end single slide -->

				</div>
				<!-- End Wrapper for slides -->

			</div>
		</section>

        <!--
        End Home SliderEnd
        ==================================== -->



        <!--
        Features
        ==================================== -->



        		<section id="features" class="features">
              <div class="container">





<div class="roww">
  <div class="columnn">
    <!-- <img src="img_snow.jpg" alt="Snow" style="width:100%"> -->
    <img src="{% static 'img/pdi-ssh.svg' %}" style="width:80%">
  </div>
  <div class="columnn">
    <img src="{% static 'img/odissei.png' %}" style="width:90%">

  </div>
  <div class="columnn">
    <img src="{% static 'img/clariah.png' %}" style="width:90%">
  </div>
  <div class="columnn">
    <img src="{% static 'img/dans.png' %}" style="width:75%">
  </div>
  <div class="columnn">
    <img src="{% static 'img/vu.png' %}" style="width:80%">
  </div>
  <div class="columnn">
    <img src="{% static 'img/eur.png' %}" style="width:86%">
  </div>
</div>

</br>
</br>
</br>




		<section id="features" class="features">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center mb50 wow bounceInDown animated" data-wow-duration="500ms">
						<h2>Our Mission</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<!-- service item -->
					<div class="col-md-4 wow fadeInLeft" data-wow-duration="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-cog fa-spin  fa-2x"></i>
							</div>

							<div class="service-desc">
								<h3>Creating FAIR Implementation Profiles</h3>
								<p>We help communities estabilish their data management plans for adapting FAIR principles using the FAIR Implementation Profile</p>
							</div>
						</div>
					</div>
					<!-- end service item -->

					<!-- service item -->
					<div class="col-md-4 wow fadeInUp" data-wow-duration="500ms" data-wow-delay="500ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa fa-circle-o-notch fa-spin fa-2x"></i>
							</div>

							<div class="service-desc">
								<h3>Increase FAIRness in communities</h3>
								<p>We help communities create community-wide development strategies and help planing the conversion of their data to FAIR data.</p>
							</div>
						</div>
					</div>
					<!-- end service item -->

					<!-- service item -->
					<div class="col-md-4 wow fadeInRight" data-wow-duration="500ms"  data-wow-delay="900ms">
						<div class="service-item">
							<div class="service-icon">
								<i class="fa  fa-refresh fa-spin fa-2x"></i>
							</div>

							<div class="service-desc">
								<h3>Create alignment between international standards and communities</h3>
								<p>We generate alignment with international standards and other related communities to increase data reuse and Interoperability</p>
							</div>
						</div>
					</div>
					<!-- end service item -->

				</div>
			</div>
		</section>

        <!--
        End Features
        ==================================== -->


        <!--
        Our Works
        ==================================== -->
      </br>
    </br>
</br>
		<section id="works" class="works clearfix">
			<div class="container">
				<div class="row">

					<div class="sec-title text-center">
						<h2>Communities we work with</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<div class="sec-sub-title text-center" style="margin: auto; width:50%" >
            </br>

            <ul class="fa-ul" style="text-align:left">
  <li><i class="fa-li fa fa-check-square" ></i>Historical & Archival data: There is a substantial number of smaller historical data providers
  which do not have the resources or capacity to invest in learning and maintaining FAIR
  standards</li>
  <li><i class="fa-li fa fa-check-square"></i>Media Content data: Complex, diverse and diffuse data are generated by a wide range of
  providers who have very little expertise in formal FAIR implementation.</li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>Geospatial data: Data standards are exceptionally well established and accepted globally but
  their interoperability with the other social science communities is not well established.</li>
  <li><i class="fa-li fa fa-square"></i>Administrative data: There is an urgent need for the FAIRification of SDMX4 and declaring Statistics Netherlands (CBS) internal standards.</li>
  <li><i class="fa-li fa fa-square"></i>Commercial data: A large and diverse number of companies are willing to make their data
  available for research but lack scientific and data management expertise.</li>

  <li><i class="fa-li fa fa-square"></i>Biometric data: Biometric data encapsulate social and biomedical aspects. Standards are
  persistently evolving in both domains and there are challenges in their iterative alignment.</li>
  <li><i class="fa-li fa fa-spinner fa-spin"></i>Other data and platforms in social science</li>

</ul>
</br>
					</div>

					<div class="work-filter wow fadeInRight animated" data-wow-duration="500ms">
						<ul class="text-center">
							<li><a href="javascript:;" data-filter="all" class="active filter">All</a></li>
              <li><a href="javascript:;" data-filter=".history" class="filter">Historical data</a></li>
							<li><a href="javascript:;" data-filter=".archival" class="filter">Archival data</a></li>
							<li><a href="javascript:;" data-filter=".mediadata" class="filter">Media Content data</a></li>
							<li><a href="javascript:;" data-filter=".geo" class="filter">Geospatial data</a></li>
              <li><a href="javascript:;" data-filter=".admin" class="filter">Administrative data</a></li>
              <li><a href="javascript:;" data-filter=".commercial" class="filter">Commercial data</a></li>
              <li><a href="javascript:;" data-filter=".bio" class="filter">Biometric data</a></li>
							<li><a href="javascript:;" data-filter=".other" class="filter">Other data and platforms</a></li>
						</ul>
					</div>

				</div>
			</div>

			<div class="project-wrapper">
        				<figure class="mix work-item archival media">
        					<img src="{% static 'img/works/homo.png' %}" alt="">
        					<figcaption class="overlay">
        						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-2.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
        						<h4>LGBTQ+ Vocabulary Community</h4>
        						<p>Photography</p>
        					</figcaption>
        				</figure>

				<figure class="mix work-item history archival">
					<img src="{% static 'img/works/seh.png' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Socio-economic History (SEH)"></a> -->
						<h4>Socio-economic History (SEH) Community</h4>
						<p>The SSHOC-NL Socio-Economic History (SEH) community consists of researchers and data experts in the Netherlands who conduct research and publish data about social history and economic history research. The members are from the International Institute of Social History (IISG), Utrecht University (UU), and the Vrije Universiteit (VU) Amsterdam.</p>
					</figcaption>
				</figure>


				<figure class="mix work-item mediadata">
					<img src="{% static 'img/works/media.jpg' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-4.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
						<h4>MCAL Community</h4>
						<p>The Media Content Analysis Lab (MCAL) is funded by ODISSEI and it consists of scholars in the field of communication sciences and media content, largely based at the Amsterdam School of Communication Research (ASCoR) at the University of Amsterdam and at the Department of Social Sciences at Wageningen University.</p>
					</figcaption>
				</figure>

        <figure class="mix work-item branding">
          <img src="{% static 'img/works/item-3.jpg' %}" alt="">
          <figcaption class="overlay">
            <!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-5.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
            <h4>Labore et dolore magnam</h4>
            <p>Media</p>
          </figcaption>
        </figure>


				<figure class="mix work-item branding">
					<img src="{% static 'img/works/item-5.jpg' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-5.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>

				<figure class="mix work-item web">
					<img src="{% static 'img/works/item-6.jpg' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-6.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>

				<figure class="mix work-item logo-design">
					<img src="{% static 'img/works/item-7.jpg' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-7.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>

				<figure class="mix work-item photography">
					<img src="{% static 'img/works/item-8.jpg' %}" alt="">
					<figcaption class="overlay">
						<!-- <a class="fancybox" rel="works" title="Write Your Image Caption Here" href="{% static 'img/works/item-8.jpg' %}"><i class="fa fa-eye fa-lg"></i></a> -->
						<h4>Labore et dolore magnam</h4>
						<p>Photography</p>
					</figcaption>
				</figure>

			</div>


		</section>

        <!--
        End Our Works
        ==================================== -->

        <!--
        Meet Our Team
        ==================================== -->

		<section id="team" class="team">
			<div class="container">
				<div class="row">
        </br>
      </br>
</br>
					<div class="sec-title text-center wow fadeInUp animated" data-wow-duration="700ms">
						<h2>Meet Our Team</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
						<div class="member-thumb">
							<img src="{% static 'img/team/Dykstra_Pearl_small.jpg' %}" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<!-- <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li> -->
									<!-- <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li> -->
								</ul>
							</figcaption>
						</div>
						<h4>Pearl Dykstra</h4>
						<span>PI, Erasmus University Rotterdam/ODISSEI</span>
					</figure>
					<!-- end single member -->

					<!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="member-thumb">
							<img src="{% static 'img/team/jacco.jpg' %}" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Jacco van Ossenbruggen</h4>
						<span>Advisor, VU Amsterdam/ODISSEI</span>
					</figure>
					<!-- end single member -->

          <!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="member-thumb">
							<img src="{% static 'img/team/tobias.jpg' %}" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Tobias Kuhn</h4>
						<span>Advisor, VU Amsterdam</span>
					</figure>
					<!-- end single member -->

          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="{% static 'img/team/ronald.jpg' %}" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
                <ul class="social-links text-center">
                  <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>Ronald Siebies</h4>
            <span>Advisor, VU Amsterdam</span>
          </figure>
          <!-- end single member -->

          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="{% static 'img/team/elena.jpg' %}" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
                <ul class="social-links text-center">
                  <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>Elena Beretta</h4>
            <span>Advisor, VU Amsterdam</span>
          </figure>
          <!-- end single member -->

          <!-- single member -->
					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
						<div class="member-thumb">
							<img src="{% static 'img/team/lucas.jpg' %}" alt="Team Member" class="img-responsive">
							<figcaption class="overlay">
								<h5>voluptatem quia voluptas </h5>
								<p>sit aspernatur aut odit aut fugit,</p>
								<ul class="social-links text-center">
									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
								</ul>
							</figcaption>
						</div>
						<h4>Lucas van der Meer</h4>
						<span>Advisor, Erasmus University Rotterdam/ODISSEI</span>
					</figure>
					<!-- end single member -->
          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="{% static 'img/team/ricarda.jpg' %}" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
                <ul class="social-links text-center">
                  <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>Ricarda Braukmann</h4>
            <span>Advisor, DANS/KNAW</span>
          </figure>
          <!-- end single member -->



          <!-- single member -->
          <figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
            <div class="member-thumb">
              <img src="{% static 'img/team/tom.png' %}" alt="Team Member" class="img-responsive">
              <figcaption class="overlay">
                <h5>voluptatem quia voluptas </h5>
                <p>sit aspernatur aut odit aut fugit,</p>
                <ul class="social-links text-center">
                  <li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
                  <li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
                </ul>
              </figcaption>
            </div>
            <h4>Tom Emery</h4>
            <span>Advisor, Erasmus University Rotterdam/ODISSEI</span>
          </figure>
          <!-- end single member -->




          					<!-- single member -->
          					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
          						<div class="member-thumb">
          							<img src="{% static 'img/team/ang.jpg' %}" alt="Team Member" class="img-responsive">
          							<figcaption class="overlay">
          								<h5>voluptatem quia voluptas </h5>
          								<p>sit aspernatur aut odit aut fugit,</p>
          								<ul class="social-links text-center">
          									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
          								</ul>
          							</figcaption>
          						</div>
          						<h4>Angelica M. Maineri</h4>
          						<span>Data Manager, Erasmus University Rotterdam/ODISSEI</span>
          					</figure>
          					<!-- end single member -->

          					<!-- single member -->
          					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
          						<div class="member-thumb">
          							<img src="{% static 'img/team/shuai.png' %}" alt="Team Member" class="img-responsive">
          							<figcaption class="overlay">
          								<h5>voluptatem quia voluptas </h5>
          								<p>sit aspernatur aut odit aut fugit,</p>
          								<ul class="social-links text-center">
          									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
          								</ul>
          							</figcaption>
          						</div>
          						<h4>Shuai Wang</h4>
          						<span>Scientific Engineer, VU Amsterdam</span>
          					</figure>
          					<!-- end single member -->

              </div>


              <div class="sec-sub-title text-center wow fadeInRight animated" data-wow-duration="500ms">
                <p>We welcome passionate student for internships and theses with us. </p>
              </div>


<div class="row">
                    <!-- single member -->
          					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
          						<div class="member-thumb">
          							<img src="{% static 'img/team/emilio.jpg' %}" alt="Team Member" class="img-responsive">
          							<figcaption class="overlay">
          								<h5>voluptatem quia voluptas </h5>
          								<p>sit aspernatur aut odit aut fugit,</p>
          								<ul class="social-links text-center">
          									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
          								</ul>
          							</figcaption>
          						</div>
          						<h4>Emilio Cammarata</h4>
          						<span>intern student, ODISSEI FAIR Support team/Erasmus University Rotterdam</span>
          					</figure>
          					<!-- end single member -->


                    <!-- single member -->
          					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
          						<div class="member-thumb">
          							<img src="{% static 'img/team/shuai.png' %}" alt="Team Member" class="img-responsive">
          							<figcaption class="overlay">
          								<h5>voluptatem quia voluptas </h5>
          								<p>sit aspernatur aut odit aut fugit,</p>
          								<ul class="social-links text-center">
          									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
          								</ul>
          							</figcaption>
          						</div>
          						<h4>Navroop K. Singh</h4>
          						<span>Student assistant, VU Amsterdam</span>
          					</figure>
          					<!-- end single member -->


                    <!-- single member -->
          					<figure class="team-member col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
          						<div class="member-thumb">
          							<img src="{% static 'img/team/shuai.png' %}" alt="Team Member" class="img-responsive">
          							<figcaption class="overlay">
          								<h5>voluptatem quia voluptas </h5>
          								<p>sit aspernatur aut odit aut fugit,</p>
          								<ul class="social-links text-center">
          									<li><a href=""><i class="fa fa-twitter fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-facebook fa-lg"></i></a></li>
          									<li><a href=""><i class="fa fa-google-plus fa-lg"></i></a></li>
          								</ul>
          							</figcaption>
          						</div>
          						<h4>Angel Valencia</h4>
          						<span>Student assistant, VU Amsterdam</span>
          					</figure>
          					<!-- end single member -->




				</div>
			</div>
		</section>


  </br>
</br>

        <!--
        End Meet Our Team
        ==================================== -->

		<!--
        Some fun facts
        ==================================== -->

		<section id="facts" class="facts">
			<div class="parallax-overlay">
				<div class="container">
					<div class="row number-counters">

						<div class="sec-title text-center mb50 wow rubberBand animated" data-wow-duration="1000ms">
							<h2>Our achivement in numbers</h2>
							<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
						</div>



						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="600ms">
							<div class="counters-item">
								<i class="fa fa-rocket fa-3x"></i>
								<strong data-to="6">0</strong>
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>FIPs published</p>
							</div>
						</div>

						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="900ms">
							<div class="counters-item">
								<i class="fa fa-trophy fa-3x"></i>
								<strong data-to="4">0</strong>
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Papers published</p>
							</div>
						</div>
						<!-- end first count item -->

            <div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms" data-wow-delay="300ms">
							<div class="counters-item">
								<i class="fa fa-users fa-3x"></i>
								<strong data-to="8">0</strong>
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Workshop Presentations</p>
							</div>
						</div>

            <!-- first count item -->
						<div class="col-md-3 col-sm-6 col-xs-12 text-center wow fadeInUp animated" data-wow-duration="500ms">
							<div class="counters-item">
								<i class="fa fa-clock-o fa-3x"></i>
								<strong data-to="12">0</strong>
								<!-- Set Your Number here. i,e. data-to="56" -->
								<p>Blog posts</p>
							</div>
						</div>

					</div>
				</div>
			</div>
		</section>

        <!--
        End Some fun facts
        ==================================== -->


		<!--
        Contact Us
        ==================================== -->

      </br>
    </br>
        </br>

		<section id="presentation" class="contact">
			<div class="container">
				<div class="row mb50">

					<div class="sec-title text-center mb50 wow fadeInDown animated" data-wow-duration="500ms">
						<h2>Presentations</h2>
						<div class="devider"><i class="fa fa-heart-o fa-lg"></i></div>
					</div>

					<div class="sec-sub-title text-center wow rubberBand animated" data-wow-duration="1000ms">
						<p>Sed ut perspiciatis unde omnis iste natus error sit voluptatem accusantium doloremque laudantium, totam rem aperiam, eaque ipsa quae ab illo inventore</p>
					</div>

					<!-- contact address -->
					<div class="col-lg-3 col-md-3 col-sm-4 col-xs-12 wow fadeInLeft animated" data-wow-duration="500ms">
						<div class="contact-address">
							<h3>Cras at ultrices erat, sed vulputate!</h3>
							<p>2345 Setwant natrer, 1234,</p>
							<p>Washington. United States.</p>
							<p>(401) 1234 567</p>
						</div>
					</div>
					<!-- end contact address -->

					<!-- contact form -->
					<div class="col-lg-8 col-md-8 col-sm-7 col-xs-12 wow fadeInDown animated" data-wow-duration="500ms" data-wow-delay="300ms">
						<div class="contact-form">
							<h3>Say hello!</h3>

              <li>
fdsafdsa, fdsa, 2023
                </li>
							<!-- <form action="#" id="contact-form">
								<div class="input-group name-email">
									<div class="input-field">
										<input type="text" name="name" id="name" placeholder="Name" class="form-control">
									</div>
									<div class="input-field">
										<input type="email" name="email" id="email" placeholder="Email" class="form-control">
									</div>
								</div>
								<div class="input-group">
									<textarea name="message" id="message" placeholder="Message" class="form-control"></textarea>
								</div>
								<div class="input-group">
									<input type="submit" id="form-submit" class="pull-right" value="Send message">
								</div>
							</form> -->
						</div>
					</div>
					<!-- end contact form -->

					<!-- footer social links -->
					<div class="col-lg-1 col-md-1 col-sm-1 col-xs-12 wow fadeInRight animated" data-wow-duration="500ms" data-wow-delay="600ms">
						<!-- <ul class="footer-social">
							<li><a href="https://www.behance.net/Themefisher"><i class="fa fa-behance fa-2x"></i></a></li>
							<li><a href="https://www.twitter.com/Themefisher"><i class="fa fa-twitter fa-2x"></i></a></li>
							<li><a href="https://dribbble.com/themefisher"><i class="fa fa-dribbble fa-2x"></i></a></li>
							<li><a href="https://www.facebook.com/Themefisher"><i class="fa fa-facebook fa-2x"></i></a></li>
						</ul> -->
					</div>
					<!-- end footer social links -->

				</div>
			</div>

			<!-- Google map -->
			<div id="map_canvas" class="wow bounceInDown animated" data-wow-duration="500ms"></div>
			<!-- End Google map -->

		</section>

        <!--
        End Contact Us
        ==================================== -->

{% endblock %}
